@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Marcellus&display=swap");

.card {
  border: 1px solid #e5e5e5;
  padding: 1.5rem;
  width: 410px;
  height: 364px;
  background-color: white;
  position: relative;
  border-bottom-right-radius: 115px;
}

.category {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: #797e88;
}

.title {
  font-family: Marcellus;
  font-weight: 400;
  font-style: Regular;
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: #121212;
}

.icon {
  width: 60px;
  height: 60px;
  margin: 30px;
}

.description {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: #797e88;
}

.arrow {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.arrow:hover {
  transform: scale(1.05);
}

/* ===============================
   RESPONSIVIDADE
================================ */

@media (max-width: 410px) {
  .arrow {
    position: absolute;
    bottom: -0.3rem;
    right: 0rem;
  }
  .card {
    padding: 20px;

    width: 330px;
    height: auto;
  }
}
