@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@font-face {
  font-family: "Gallery Modern";
  src: url("/src/assets/fonts/GalleryModern.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

.sectionCallToAction {
  background-color: #121212;

  display: flex;
  flex-direction: row;

  justify-content: space-around;
  align-items: center;

  padding: 80px 0 80px 0;
}

.callToActionH1 {
  font-family: Gallery Modern;
  font-weight: 400;
  font-style: Regular;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: #ffffff;

  margin-bottom: 60px;
}

.divLetsTalk {
  width: 152px;
  height: 152px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;

  background-color: #bff747;

  cursor: pointer;

  transition: background-color 0.3s ease, transform 0.2s ease;
}

.divLetsTalk:hover {
  transform: scale(1.01);
}

.callToActionP {
  font-family: DM Sans;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  text-transform: capitalize;

  color: #ffffff;
}

/* ===============================
   RESPONSIVIDADE
================================ */

/* Medium screens */
@media (max-width: 920px) {
  .callToActionH1 {
    font-size: 50px;

    margin-bottom: 60px;
  }

  .callToActionP {
    font-size: 15px;
  }
}

/* Very small screens */
@media (max-width: 480px) {
  .sectionCallToAction {
    background-color: #121212;

    display: flex;
    flex-direction: column;
    text-align: center;

    justify-content: space-around;
    align-items: center;

    padding: 5%;
  }

  .divLetsTalk {
    margin-top: 35px;
  }
}
